# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BEE34_LEFT

config ZMK_KEYBOARD_NAME
    default "Bee34"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BEE34_LEFT || SHIELD_BEE34_RIGHT

config ZMK_SPLIT
    default y

config ZMK_RGB_UNDERGLOW
    select WS2812_STRIP
    select SPI

endif
