# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_FLAP32_LEFT
    def_bool $(shields_list_contains, Flap32_left)

config SHIELD_FLAP32_RIGHT
    def_bool $(shields_list_contains, Flap32_right)
